@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
  }

body {
  background-image: url("https://images3.alphacoders.com/787/78759.jpg") ;
  background-size: cover;
}

h1 {
  color: #49addba9;
  font-weight: 200;
  font-family : 'SEGA LOGO FONT';
}

